// ----------------------------
// Header
// ----------------------------

.h {
    &__skip-to {
        a {
            min-height: 35px;
            position: absolute;
            top: 0;
            left: 0;
            padding: $gap--xs*0.5 $gap--xs;
            z-index: 9999;
            background: $col__grey--10;
        }
    }
    &__pick-lang {

    }
    &__mobile {
    }
    &__desktop {
    }
    &__menu {
        &--main {
            min-height: 70px;
            position: relative;
            box-shadow: 0 0 6px 0 rgba(0, 0, 0, .15);
            background-color: $col__header__main--bg;
            margin-left: -$gap--xs;
            margin-right: -$gap--xs;
            nav {
                a {
                    color:$col__header__main--link-col;
                    padding: $gap--xs*0.5 $gap--xs;
                    border: 1px solid transparent;
                    border-radius: 2px;
                    &:hover, &:focus, &:active {
                        color: $col__header__main--link-hover-col;
                        background-color: $col__header__main--link-hover-bg-col;
                        border-color: $col__header__main--link-hover-bg-col;
                        text-decoration: none;
                    }
                }
            }
        }
        &--pre {
            min-height: 35px;
            position: relative;
            z-index: 1000;
            font-size: $font-size__s;
            color: white;
            margin-left: -$gap--xs;
            margin-right: -$gap--xs;
            background-color: $col__header__pre--bg;
            nav {
                a {
                    display: block;
                    padding: $gap--xs*0.5 $gap--xs;
                    color: white;
                    &:hover, &:focus, &:active {
                        background-color: $col__primary--dark;
                    }
                }
            }
        }
    }
}

.logo {
    color: $col__grey--90;
    font-weight: normal;
    text-decoration: none !important;
    padding: 0 $gap--xs;
    &__emphasis {
        font-weight: bold;
        color: $col__alt-0;
    }
    &:hover, &:focus, &:active {
        border-bottom: 1px solid $col__alt-0;
    }
}

// ----------------------------
// Responsive
// ----------------------------

@media only screen and (min-width:$bp--m) {
    .has-submenu  {
        position: relative;
        svg {
            margin-left: 0.5rem;
        }
        ul {
            $dropdown__offset-bottom: 8px;
            position: absolute;
            background: $white;
            border-radius: 3px;
            top:calc(100% + #{$dropdown__offset-bottom});
            left:0;
            flex-direction: column;
            box-shadow: 0px 0px 2px rgba(0,0,0,0.25);
            border: 1px solid $col__grey--10;
            display: none;
            li {
                display: inline-flex;
            }
            a {
                color:$col__header__main--link-col;
                white-space: nowrap;
                flex-grow:1;
                &:hover, &:focus {
                    color: $col__grey--90;
                    background: $col__grey--10;
                }
            }
            &:after {
                content: "";
                position: absolute;
                height: $dropdown__offset-bottom;
                bottom: 100%;
                left: 0;
                width: 100%;
            }
        }
        &:hover, &.open {
            ul {
                display: flex;
            }
        }
    }
}