// ----------------------------
// Button
// ----------------------------

.btn {
    display: inline-block;
    padding: $gap--xs*.5 $gap--xs;
    border: 1px solid transparent;
    border-radius: 3px;
    color: $col__link--initial;
    background-color: $white;
    &:hover,
    &:focus,
    &:active {
        border-color: $col__link--active;
        text-decoration: none;
        color: $white;
        background-color: $col__link--active;
    }

    &--primary {
        color: $white;
        background-color: $col__link--initial;
    }
}

