// ----------------------------
// Button
// ----------------------------

.btn {
    display: inline-block;
    padding: $gap--xs*.5 $gap--xs;
    border: 1px solid transparent;
    border-radius: 3px;
    color: $col__link--initial;
    background-color: $white;
    outline: none;

    &:hover,
    &:focus,
    &:active {
        border-color: $col__link--active;
        text-decoration: none;
        color: $white;
        background-color: $col__link--active;
    }
    &:focus {
        text-decoration: underline;
    }
    &--primary {
        color: $white;
        background-color: $col__link--initial;
    }
    &--icon {
        color: $white;
        background-color: transparent;
        line-height: 2rem;
        font-size: 2rem;
        display: inline-flex;
        align-items: center;
        &:hover,
        &:focus,
        &:active {
            background-color: $col__primary--dark;
            border-color: $col__primary--dark;
        }
    }
}

