// ----------------------------
// Card
// ----------------------------

.card {
    padding: $gap--s;
    display: block;
    width: 100%;
    flex-shrink: 1;

    &__inner {
        height: 100%;
        width: 100%;
    }
    &__block {
        padding-bottom: $gap--s;
    }
    &__auto {
        width: auto;
    }

    // colour
    &__colour {
        &--white {
            background: white;
        }
    }
}