// ----------------------------
// Container
// ----------------------------

.container {
    width: $page__full-width;
    max-width: 100%;
    padding: 0 $gap--m;
    margin: auto;
    &--s {
        padding: 0 $gap--s;
    }
    &--l {
        padding: 0 $gap--l;
    }
}
