// ----------------------------
// Defaults
// ----------------------------

* {
    box-sizing: border-box;

    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}
html {
    font-size: $font-size__base;
}
body {
    font-family: $font-family__body;
    font-size: $font-size__body;
    font-weight: $font-weight__body;
    line-height: $line-height__body;
    transition: all .4s .3s ease-in;
    color: $col__font--body;
    background-color: $col__body--bg;
}
body,
html {
    overflow-x: hidden;
    min-height: 100vh;
}


// Links
a {
    outline: none;
    font-weight: bold;
    text-decoration: $link--initial;
    -webkit-transition: all .1s ease;
            transition: all .1s ease;
    color: $col__link--initial;

    &.reversed {
        text-decoration: $link--reversed;
    }
    &:hover,
    &:focus,
    &:active {
        text-decoration: $link--reversed;
        color: $col__link--active;

        &.reversed {
            text-decoration: $link--initial;
        }
    }
}

// img
img {
    max-width: 100%;
}
