// ----------------------------
// Flex
// ----------------------------

.flex {
    display: flex;
    &__justify-content {
        &--center {
            justify-content: center;
        }
    }
    &__align-items {
        &--center {
            align-items: center;
        }
        &--end {
            align-items: flex-end;
        }
    }
    &__align-self {
        &--right {
            margin-left: auto;
        }
        &--bottom {
            align-self: flex-end;
        }
    }
    &__grow {
        flex-grow: 1;
        &--none {
            flex-grow: 0;
        }
    }
    &__shrink {
        flex-shrink: 1;
    }
}
