// ----------------------------
// Grid
// ----------------------------

.grid {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    margin-left: -$gap--m/2;
    margin-right: -$gap--m/2;
    margin-top: -$gap--m;
}

[class*="col--"] {
    margin-top:$gap--m;
    padding: 0 $gap--m/2;
    width: 100%;
    > .card {
        height: 100%;
        width: 100%;
    }
    > .card--auto {
        height: auto;
    }
}

.col {
    &--1-1, &--full {
        width: 100%;
    }
}



// ----------------------------
// Responsive
// ----------------------------

@media only screen and (min-width:$bp--m) {
    .col {
        &--1-2, &--1-3,  &--2-3 {
            width: 50%;
        }
    }
}
@media only screen and (min-width:$bp--m) and (max-width:$bp--l) {
    [class*="col--"] {
        [class*="col--"] {
            width: 100%;
        }
    }
}
@media only screen and (min-width:$bp--l) {
    .col {
        &--1-3 {
            width: 33.33%;
        }
        &--2-3 {
            width: 66.66%;
        }
    }
}