// ----------------------------
// Helper class
// ----------------------------

// Screen reader only
.sr-only {
    position: absolute;
    left: -9999px;
    opacity: 0;
}
.sr-only--focus:not(:focus) {
    position: absolute;
    left: -9999px;
    opacity: 0;
}

// Spacing
.padding {
    &--remove-top {
        padding-top: 0 !important;
    }
    &--remove-right {
        padding-right: 0 !important;
    }
    &--remove-bottom {
        padding-bottom: 0 !important;
    }
    &--remove-left {
        padding-left: 0 !important;
    }
    &--remove-all {
        padding: 0 !important;
    }
}
.margin {
    &--remove-top {
        margin-top: 0 !important;
        // @media only screen and (max-width:$bp--l) {
        //     &--tablet-only {
        //         margin-top: 0 !important;
        //     }
        // }
    }
    &--remove-right {
        margin-right: 0 !important;
    }
    &--remove-bottom {
        margin-left: 0 !important;
    }
    &--remove-left {
        margin-left: 0 !important;
    }
    &--remove-all {
        margin: 0 !important;
    }
}

// Typographic weight
.bold {
    font-weight: bold;
}

// Typographic alignment
.text-align {
    &--center {
        text-align: center;
        // @media only screen and (max-width:$bp--l) {
        //     &--tablet-only {
        //         text-align: center;
        //     }
        // }
    }
}

// greyscale
.greyscale {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

// opacity
.opacity {
    &--75 {
        opacity: 0.75;
    }
}