// ----------------------------
// Section
// ----------------------------

.section {
    margin-top: $gap--m;
    margin-bottom: $gap--m;
    &--xs {
        margin-top: $gap--xs;
        margin-bottom: $gap--xs;
    }
    &--s {
        margin-top: $gap--s;
        margin-bottom: $gap--s;
    }
    &--l {
        margin-top: $gap--l;
        margin-bottom: $gap--l;
    }
    &--xl {
        margin-top: $gap--xl;
        margin-bottom: $gap--xl;
    }
}