@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url("../fonts/opensans-regular-webfont.woff2") format("woff2"), url("../fonts/opensans-regular-webfont.woff") format("woff"); }

@font-face {
  font-family: "Open Sans";
  font-weight: 600;
  font-style: normal;
  src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"), url("../fonts/opensans-semibold-webfont.woff2") format("woff2"), url("../fonts/opensans-semibold-webfont.woff") format("woff"); }

@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  font-style: normal;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url("../fonts/opensans-bold-webfont.woff2") format("woff2"), url("../fonts/opensans-bold-webfont.woff") format("woff"); }

@font-face {
  font-family: "Quicksand";
  font-weight: 400;
  font-style: normal;
  src: local("Quicksand Regular"), local("Quicksand-Regular"), url("../fonts/quicksand-regular-webfont.woff2") format("woff2"), url("../fonts/quicksand-regular-webfont.woff") format("woff"); }

@font-face {
  font-family: "Quicksand";
  font-weight: 700;
  font-style: normal;
  src: local("Quicksand Bold"), local("Quicksand-Bold"), url("../fonts/quicksand-bold-webfont.woff2") format("woff2"), url("../fonts/quicksand-bold-webfont.woff") format("woff"); }

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

.clear:before, .clear:after {
  content: ' ';
  display: table; }

.clear {
  *zoom: 1; }
  .clear:after {
    clear: both; }

* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

html {
  font-size: 62.5%; }

body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  transition: all .4s .3s ease-in;
  color: #4d4d4d;
  background-color: #f9f9f9; }

body,
html {
  overflow-x: hidden;
  min-height: 100vh; }

a {
  outline: none;
  font-weight: bold;
  text-decoration: none;
  transition: all .1s ease;
  color: #087E8B; }
  a.reversed {
    text-decoration: underline; }
  a:hover, a:focus, a:active {
    text-decoration: underline;
    color: #214B63; }
    a:hover.reversed, a:focus.reversed, a:active.reversed {
      text-decoration: none; }

img {
  max-width: 100%; }

.container {
  width: 1366px;
  max-width: 100%;
  padding: 0 2rem;
  margin: 0 auto; }

@media only screen and (min-width: 64em) {
  .container {
    padding: 0 3rem; }
    .container--s {
      padding: 0 2rem; }
    .container--l {
      padding: 0 4rem; } }

.section, .section--m {
  margin-top: 3rem;
  margin-bottom: 3rem; }
  .section--xs, .section--m--xs {
    margin-top: 1rem;
    margin-bottom: 1rem; }
  .section--s, .section--m--s {
    margin-top: 2rem;
    margin-bottom: 2rem; }
  .section--l, .section--m--l {
    margin-top: 4rem;
    margin-bottom: 4rem; }
  .section--xl, .section--m--xl {
    margin-top: 5rem;
    margin-bottom: 5rem; }
  .section--xxl, .section--m--xxl {
    margin-top: 6rem;
    margin-bottom: 6rem; }
  [class*="section__colour--"] {
    overflow: hidden; }
  .section__colour--white, .section--m__colour--white {
    background: #fff; }

.list--remove-padding {
  padding: 0; }

.list--remove-margin {
  margin: 0; }

.list--remove-type {
  list-style: none; }

.list--horizontal > li {
  display: inline-block; }

.grid {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-align: stretch;
      align-items: stretch;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  margin-top: -3rem; }

[class*="col--"] {
  margin-top: 3rem;
  padding: 0 1.5rem;
  width: 100%; }
  [class*="col--"] > .card {
    height: 100%;
    width: 100%; }
  [class*="col--"] > .card--auto {
    height: auto; }

.col--1-1, .col--full {
  width: 100%; }

@media only screen and (min-width: 48em) {
  .col--1-2, .col--1-3, .col--2-3 {
    width: 50%; } }

@media only screen and (min-width: 48em) and (max-width: 64em) {
  [class*="col--"] [class*="col--"] {
    width: 100%; } }

@media only screen and (min-width: 64em) {
  .col--1-3 {
    width: 33.33%; }
  .col--2-3 {
    width: 66.66%; } }

.flex {
  display: -ms-flexbox;
  display: flex; }
  .flex__justify-content--center {
    -ms-flex-pack: center;
        justify-content: center; }
  .flex__align-items--center {
    -ms-flex-align: center;
        align-items: center; }
  .flex__align-items--end {
    -ms-flex-align: end;
        align-items: flex-end; }
  .flex__align-self--right {
    margin-left: auto; }
  .flex__align-self--bottom {
    -ms-flex-item-align: end;
        align-self: flex-end; }
  .flex__grow {
    -ms-flex-positive: 1;
        flex-grow: 1; }
    .flex__grow--none {
      -ms-flex-positive: 0;
          flex-grow: 0; }
  .flex__shrink {
    -ms-flex-negative: 1;
        flex-shrink: 1; }

.sr-only, .invisible {
  position: absolute;
  left: -9999px;
  opacity: 0; }

.sr-only--focus:not(:focus) {
  position: absolute;
  left: -9999px;
  opacity: 0; }

.padding--remove-top {
  padding-top: 0 !important; }

.padding--remove-right {
  padding-right: 0 !important; }

.padding--remove-bottom {
  padding-bottom: 0 !important; }

.padding--remove-left {
  padding-left: 0 !important; }

.padding--remove-all {
  padding: 0 !important; }

.margin--remove-top {
  margin-top: 0 !important; }

.margin--remove-right {
  margin-right: 0 !important; }

.margin--remove-bottom {
  margin-left: 0 !important; }

.margin--remove-left {
  margin-left: 0 !important; }

.margin--remove-all {
  margin: 0 !important; }

.bold {
  font-weight: bold; }

.text-align--center {
  text-align: center; }

.greyscale {
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%); }

.opacity--85 {
  opacity: .85; }

.space--right {
  margin-right: .5rem; }

.space--left {
  margin-left: .5rem; }

@media only screen and (max-width: 63.9375em) {
  .only--desktop {
    display: none; } }

@media only screen and (min-width: 64em) {
  .only--mobile {
    display: none; } }

.state--x {
  display: none; }
  .h__menu-active .state--x {
    display: block; }

.h__menu-active .state--0 {
  display: none; }

.freeze {
  width: 100%;
  position: fixed; }

.scrim--active .scrim {
  display: block;
  position: absolute;
  z-index: 5000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5); }

.h {
  position: relative;
  z-index: 9999; }
  .h__skip-to a {
    height: 35px;
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 0;
    padding: 0.5rem 1rem;
    background: #e6e6e6; }
  .h__desktop {
    max-width: 100%;
    z-index: 9999; }
  .h__menu--main .container, .h__menu--pre .container {
    height: 100%; }

.logo {
  font-weight: normal;
  text-decoration: none !important;
  color: #1a1a1a;
  font-family: "Quicksand", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2.3rem; }
  .logo__wrap {
    padding: 0 1rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center; }
  .logo__emphasis {
    font-weight: bold;
    color: #BF412C; }
  .logo:hover, .logo:focus, .logo:active {
    border-bottom: 1px solid #BF412C; }

.has-submenu {
  position: relative; }
  .has-submenu ul {
    display: none; }

@media only screen and (max-width: 63.9375em) {
  .h__mobile {
    margin-right: -1rem;
    margin-left: -1rem; }
    .h__mobile nav a {
      padding: 0.5rem 1rem; }
  .h__desktop {
    position: absolute;
    height: 100vh;
    width: 380px;
    left: -400px;
    visibility: hidden;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
    background: #fff;
    transition: left 0.3s ease-in-out,  visibility 0.3s 0.3s ease-in-out;
    -webkit-transition: left 0.3s ease-in-out,  visibility 0.3s 0.3s ease-in-out; }
    .h__menu-active .h__desktop {
      left: 0;
      visibility: visible;
      transition: left 0.3s ease-in-out;
      -webkit-transition: left 0.3s ease-in-out; }
    .h__desktop .container {
      padding: 0;
      display: block; }
    .h__desktop nav ul {
      width: 100%; }
    .h__desktop nav li {
      display: block; }
    .h__desktop a {
      display: block;
      padding: 1rem 2rem;
      border-top: 1px solid #f2f2f2;
      width: 100%;
      color: #214B63; }
      .h__desktop a:hover, .h__desktop a:focus {
        color: #1a1a1a;
        background: #e6e6e6; }
    .h__desktop .logo__wrap {
      display: none; }
  .h__mobile > .h__menu--main {
    height: 50px;
    color: white;
    background-color: #BF412C; }
  .logo {
    color: #fff !important;
    position: relative; }
    .logo__emphasis {
      font-weight: bold;
      color: #fff; }
    .logo:hover, .logo:focus, .logo:active {
      border-color: #fff; }
  .has-submenu {
    background: #f9f9f9;
    border-bottom: 2px solid #e6e6e6; }
    .has-submenu a {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
          align-items: center; }
      .has-submenu a > .space--left {
        margin-left: auto; }
    .has-submenu ul {
      position: relative; }
    .has-submenu.open ul {
      display: block; }
    .has-submenu.open > a {
      background: #f2f2f2; } }

@media only screen and (min-width: 64em) {
  .h__menu--main {
    height: 70px;
    position: relative;
    margin-right: -1rem;
    margin-left: -1rem;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.15);
    background-color: #fff; }
    .h__menu--main nav a {
      padding: 0.5rem 1rem;
      border: 1px solid transparent;
      border-radius: 2px;
      color: #214B63; }
      .h__menu--main nav a:hover, .h__menu--main nav a:focus, .h__menu--main nav a:active {
        border-color: #214B63;
        text-decoration: none;
        color: #fff;
        background-color: #214B63; }
  .h__menu--pre {
    height: 35px;
    position: relative;
    z-index: 1000;
    margin-right: -1rem;
    margin-left: -1rem;
    font-size: 1.2rem;
    color: white;
    background-color: #BF412C; }
    .h__menu--pre nav a {
      display: block;
      padding: 0.5rem 1rem;
      color: white; }
      .h__menu--pre nav a:hover, .h__menu--pre nav a:focus, .h__menu--pre nav a:active {
        background-color: #963322; }
  .logo {
    font-size: 3.1rem; }
  .has-submenu ul {
    -ms-flex-direction: column;
        flex-direction: column;
    min-width: 100%;
    position: absolute;
    z-index: 1000;
    top: calc(100% + 0);
    left: 0;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
    background: #fff; }
    .has-submenu ul li {
      display: -ms-inline-flexbox;
      display: inline-flex; }
    .has-submenu ul a {
      -ms-flex-positive: 1;
          flex-grow: 1;
      white-space: nowrap;
      color: #214B63; }
      .has-submenu ul a:hover, .has-submenu ul a:focus {
        color: #1a1a1a;
        background: #e6e6e6; }
    .has-submenu ul:before {
      width: 100%;
      height: 0;
      position: absolute;
      bottom: 100%;
      left: 0;
      content: ""; }
  .has-submenu:hover ul, .has-submenu.open ul {
    display: -ms-flexbox;
    display: flex; }
  .has-submenu:hover > a,
  .has-submenu.open > a {
    background: rgba(150, 51, 34, 0.4); } }

.nav ul {
  list-style: none; }

.banner {
  height: 50vh;
  min-height: 450px;
  position: relative; }
  .banner__img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../img/Banner.jpg);
    background-position: center;
    background-size: cover; }
  .banner__block {
    position: relative;
    z-index: 1000;
    padding: 2rem;
    background: rgba(255, 255, 255, 0.8); }
    .banner__block--title {
      position: relative;
      padding-bottom: 1rem;
      color: #333333; }
      .banner__block--title:after {
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        border-bottom: 1px solid #cccccc;
        content: ""; }
    .banner__block--summery {
      font-size: 1.8rem;
      font-weight: 600;
      color: #333333; }

.twitter__avatar {
  width: 45px;
  height: 45px;
  border-radius: 999px; }

.twitter__name {
  margin-bottom: 0; }

.twitter__handle {
  font-size: 1.3rem;
  color: #666666; }

.f {
  color: #fff;
  font-size: 1.3rem;
  position: relative;
  z-index: 1000; }
  .f__title {
    color: #fff !important; }
  .f a, .f .copyright {
    color: #fff;
    padding: 0 1rem;
    font-weight: normal;
    display: inline-block; }
  .f__share {
    margin: -0.5rem; }
    .f__share .btn--icon {
      padding: 0;
      margin: 0 0.5rem;
      font-size: 3rem;
      border-radius: 4px; }
      .f__share .btn--icon svg {
        margin: 0 -0.4rem; }
      .f__share .btn--icon:hover, .f__share .btn--icon:focus {
        border-color: white; }
  .f__main {
    background: #BF412C; }
    .f__main--nav {
      margin: 0 -1rem; }
  .f__end {
    background: #4d4d4d;
    padding: 1rem 0; }
    .f__end--nav {
      margin: 0 -1rem; }

@media only screen and (min-width: 64em) {
  .f__main nav {
    width: 100%; }
  .f__main--nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .f__main--nav li {
      width: 50%;
      -ms-flex-negative: 0;
          flex-shrink: 0; } }

.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  border: 1px solid transparent;
  border-radius: 3px;
  color: #087E8B;
  background-color: #fff;
  outline: none; }
  .btn:hover, .btn:focus, .btn:active {
    border-color: #214B63;
    text-decoration: none;
    color: #fff;
    background-color: #214B63; }
  .btn:focus {
    text-decoration: underline; }
  .btn--primary {
    color: #fff;
    background-color: #087E8B; }
  .btn--icon {
    color: #fff;
    background-color: transparent;
    line-height: 2rem;
    font-size: 2rem;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
        align-items: center; }
    .btn--icon:hover, .btn--icon:focus, .btn--icon:active {
      background-color: #963322;
      border-color: #963322; }

.card {
  padding: 2rem;
  display: block;
  width: 100%;
  -ms-flex-negative: 1;
      flex-shrink: 1; }
  .card__inner {
    height: 100%;
    width: 100%; }
  .card__block {
    padding-bottom: 2rem; }
  .card__auto {
    width: auto; }
  .card__colour--white {
    background: white; }

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: 3rem;
  font-family: "Quicksand", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: #4d4d4d; }
  h1:first-child,
  .h1:first-child,
  h2:first-child,
  .h2:first-child,
  h3:first-child,
  .h3:first-child,
  h4:first-child,
  .h4:first-child,
  h5:first-child,
  .h5:first-child,
  h6:first-child,
  .h6:first-child {
    margin-top: 0; }

h1,
.h1 {
  margin-bottom: 1.55rem;
  font-size: 3.1rem;
  line-height: 3.875rem; }

h2,
.h2 {
  margin-bottom: 1.15rem;
  font-size: 2.3rem;
  line-height: 2.875rem; }

h3,
.h3 {
  margin-bottom: 0.95rem;
  font-size: 1.9rem;
  line-height: 2.375rem; }

h4,
.h4 {
  margin-bottom: 0.85rem;
  font-size: 1.7rem;
  line-height: 2.125rem; }

h5,
.h5 {
  margin-bottom: 0.65rem;
  font-size: 1.3rem;
  line-height: 1.625rem; }

h6,
.h6 {
  margin-bottom: 0.55rem;
  font-size: 1.1rem;
  line-height: 1.375rem; }

p {
  margin: 0 0 1.6rem 0; }
  p:last-child {
    margin-bottom: 0; }

.colour-text--primary {
  color: #BF412C; }

.font-size--s {
  font-size: 1.2rem; }

.icon--xl {
  font-size: 3.1rem; }

.icon--xxl {
  font-size: 6.2rem; }

.br--bottom {
  position: relative; }
  .br--bottom:after {
    width: 100%;
    position: absolute;
    content: ""; }

.br--bottom:after {
  bottom: 0;
  left: 0;
  border-bottom: 1px solid #cccccc; }

.br__colour--grey--10:after {
  border-color: #e6e6e6; }

::-moz-selection {
  background: #333;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #333;
  color: #fff;
  text-shadow: none; }

::-moz-selection {
  background: #333;
  color: #fff;
  text-shadow: none; }

::-webkit-selection {
  background: #333;
  color: #fff;
  text-shadow: none; }

@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  @page {
    margin: 0.5cm; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }
